.all{font-family: 'Merriweather', serif;}
/* section 1 style*/
.head-part{background-image: url(../resources/Banner\ Image.png);
    width: 1320px;
height: 600px;
border-radius: 16px; margin: 50px 140px;}
#head-tittle{color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;padding: 180px 530px 0px 530px;} #head-sms{color: #FFF;
        text-align: center;
        font-size: 50px;
        font-weight: 900; } 
        /* section 2 style*/
        .discount-tittle{color: #F00;
            text-align: center;
            font-size: 70px;
            font-weight: 700;
            line-height: normal;margin: 120px 500px 50px 500px;}
    .orange{color: #F00;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;margin: 16px 500px;}
    .some{color: #070211;
        text-align: center;
        font-size: 45px;
        font-weight: 800;
        line-height: normal;margin: 16px 490px;} 
        .banner{width: 800px;
            height: 500px;
            flex-shrink: 0;
            align-items: center;
            margin: 50px 390px;}